:root {
  --bk-dark-violet: #55328b;
  --bk-light-violet-01: #f0edf5;
  --bk-light-violet-02: #f0edf6;
  --bk-cream: #f9f1f2;
  --bk-text: #6b6775;
}

/* GENERICS  */

body {
  color: var(--bk-dark-violet);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

small {
  text-transform: uppercase;
  color: var(--bk-text);
  font-size: 0.7rem;
  letter-spacing: 2px;
  font-weight: 600;
}

section {
  padding: 50px 100px;
}

.order-count {
  min-height: 30px;
  min-width: 30px;
  border-radius: 50%;
  background-color: var(--bk-light-violet-01);
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* BUTTONS */

.btn-white {
  color: var(--bk-dark-violet);
  background-color: #ffffff;
  font-weight: 600;
  padding: 10px 20px;
}

.btn-white:hover {
  color: #ffffff;
  background-color: var(--bk-dark-violet);
}

.btn-purple {
  background-color: var(--bk-dark-violet);
  color: #ffffff;
  font-weight: 600;
  padding: 10px 20px;
}

.btn-purple:hover {
  background-color: var(--bk-light-violet-01);
  color: var(--bk-dark-violet);
}

/* HEADER  */

header {
  background-color: hsl(310deg 30% 92%);
  background-image: url(../img/hero-header-bakery.jpg);
  background-size: 140%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#fixed-icons {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#demos,
#on-sale {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

#demos {
  align-items: flex-end;
}

#demos > a {
  color: #33475b;
}

.price,
#demos > a {
  background-color: white;
  height: 65px;
  width: 65px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons-blur {
  display: inline-block;
  filter: drop-shadow(0px 0px 1rem darkgray);
}

.price-tag {
  font-size: 1.5rem;
  font-weight: bold;
}

#on-sale .price-tag {
  font-size: 1.7rem;
  font-weight: bolder;
}

#on-sale .price-tag span {
  vertical-align: super;
  font-size: 1rem;
  font-weight: bold;
}

#on-sale .price-text {
  font-size: 0.8rem;
  color: #7e8388;
}

.price p,
#demos p {
  font-size: 0.8rem;
  font-weight: bold;
  color: #7e8388;
}

#demos > a > i {
  font-size: 2rem;
}

#on-sale .price {
  color: #65bc7b;
  font-weight: bold;
}

nav > ul {
  list-style: none;
}

nav > ul > li {
  font-size: 0.7rem;
  color: var(--bk-dark-violet);
  font-weight: 500;
  letter-spacing: 2px;
  margin-right: 40px;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
}

nav ul a {
  line-height: 30px;
}

nav > ul > li:hover {
  border-bottom: 2px solid var(--bk-dark-violet);
}

.active {
  border-bottom: 2px solid var(--bk-dark-violet);
}

header .order-count {
  background-color: white;
}

.cart:hover {
  border-bottom: 2px solid transparent;
}

/* HERO SECTION  */

#hero .intro {
  margin-left: 100px;
  padding-top: 150px;
}

#hero .intro h1 {
  text-transform: capitalize;
  font-weight: bold;
}

#hero .intro p {
  color: var(--bk-text);
  font-size: 1.1rem;
  line-height: 2rem;
  width: 80%;
}

/* OUR PRODUCTS  */

#our-products {
  margin-top: 100px;
}

.call-to-action {
  align-self: flex-start;
}

.product-carousel {
  position: relative;
}

.product-hover {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.product-carousel:hover .product-hover {
  display: block;
}

.product-hover small {
  font-size: 0.7rem;
  color: white;
}

.arrow {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 40px;
  display: flex;
  height: 80px;
  color: white;
  background-color: #a691b2;
  cursor: pointer;
}

.arrow:hover {
  background-color: var(--bk-dark-violet);
}

.left-arrow {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.right-arrow {
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
}

/* SPECIAL MOMENTS SECTION  */

.special-moments-images {
  position: relative;
}

.special-moments-images:hover .product-hover {
  display: block;
}

.special-moments-images:hover .image-front-1,
.special-moments-images:hover .image-front-2 {
  display: none;
}

.special-moments-images:hover .image-back-1,
.special-moments-images:hover .image-back-2 {
  display: block;
}

.image-back-1,
.image-back-2 {
  display: none;
}

#special-moments .product-hover {
  font-size: 2.5rem;
}

/* FIND PRODUCTS  */

#find-products h3 {
  margin-top: 20px;
}

#find-products .call-to-action {
  align-self: center;
  width: 90%;
}

#find-products .call-to-action p {
  line-height: 2rem;
  font-size: 1rem;
  color: #7e8388;
}

/* SHOWCASE SECTIONS  */
section[id^="showcase-"] {
  color: white;
}

/* SHOWCASE SECTION 01  */

.showcase-bg {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
}

.showcase-bg img {
  opacity: 0.5;
  min-height: 80vh;
}

.showcase-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 70px;
}

.showcase-box small {
  color: rgba(255, 255, 255, 0.8);
}

.showcase-text {
  width: 35%;
  margin-top: auto;
  align-self: flex-end;
}

.showcase-title h2 {
  font-size: 3.5rem;
}

.showcase-title span {
  font-size: 5rem;
  font-weight: 200;
}

.showcase-text p {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2rem;
}

/* SHOWCASE SECTION 02  */
#showcase-02 .showcase-text {
  align-self: flex-start;
  width: 60%;
}

#showcase-02 .showcase-quote-bg {
  background-color: var(--bk-light-violet-01);
  min-height: 80vh;
}

#showcase-02 .showcase-quote-bg .quote-text {
  font-size: 2.8rem;
  color: var(--bk-dark-violet);
  font-weight: 700;
}

#showcase-02 .quote small,
#showcase-02 .quote span {
  color: var(--bk-text);
}

/* SHOWCASE SECTION 03  */

#showcase-03 .showcase-text {
  align-self: flex-start;
}

/* LOCATIONS SECTION  */

#locations .location-01 {
  background-color: hsl(192deg 56% 96%);
}

#locations .location-02 {
  background-color: var(--bk-cream);
}

#locations h3 {
  font-weight: bolder;
  font-size: 2.2rem;
}

#locations p,
#locations small {
  color: var(--bk-text);
}

/* SHARE SECTION  */

#share .share-box {
  background-color: var(--bk-light-violet-02);
  height: 100%;
}

#share .share-text {
  height: 100%;
}

#share h3 {
  font-size: 2rem;
  font-weight: bolder;
}

#share .btn-purple:hover {
  background-color: #ffffff;
}

/* SHOP SECTION  */
#shop {
  background-image: url("../img/call-to-action-bg.jpg");
  color: white;
  background-size: cover;
  padding: 100px 0;
}

#shop small {
  color: rgba(255, 255, 255, 0.8);
}

#shop h2 {
  font-size: 3rem;
}

#shop .btn-white {
  font-size: 1.2rem;
  padding: 10px 35px;
}

/* FOOTER  */
footer nav ul li {
  text-transform: capitalize;
}

footer nav ul li {
  font-weight: 400;
  font-size: 1rem;
}

footer .order-count {
  background-color: var(--bk-light-violet-01);
}

#copyright {
  color: var(--bk-text);
  font-size: 0.7rem;
  margin: 100px 0;
}

#email-input {
  width: 50%;
  padding: 11px;
  border: 1px solid lightgray;
}

#social-icons {
  font-size: 1.2rem;
  margin-top: 150px;
}
