:root {
  --bk-dark-violet: #55328b;
  --bk-light-violet-01: #f0edf5;
  --bk-light-violet-02: #f0edf6;
  --bk-cream: #f9f1f2;
  --bk-text: #6b6775;
}

/* GENERICS  */

body {
  color: var(--bk-dark-violet);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* section {
  margin: 0px 0px 100px 100px;
} */

section {
  padding: 50px 100px;
}

/* BUTTONS */

.btn-white {
  color: var(--bk-dark-violet);
  background-color: #ffffff;
  font-weight: 600;
  padding: 10px 20px;
}

.btn-white:hover {
  color: #ffffff;
  background-color: var(--bk-dark-violet);
}

.btn-purple {
  background-color: var(--bk-dark-violet);
  color: #ffffff;
  font-weight: 600;
  padding: 10px 20px;
}

.btn-purple:hover {
  background-color: var(--bk-light-violet-01);
  color: var(--bk-dark-violet);
}

/* HEADER  */

header {
  background-color: var(--bk-dark-violet);
  background-image: url(../img/hero-header-bakery.jpg);
  background-size: cover;
  min-height: 95vh;
}

#demos,
#on-sale {
  height: 100px;
  display: flex;
  justify-content: flex-end;
}

#demos {
  align-items: flex-end;
}

#on-sale {
  align-items: flex-start;
}

#demos > a {
  color: #33475b;
}

.price,
#demos > a {
  background-color: white;
  height: 70px;
  width: 70px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 20px 0px gray;
}

.price-tag {
  font-size: 1.5rem;
  font-weight: bold;
}

#on-sale .price-tag {
  font-size: 1.7rem;
  font-weight: bolder;
}

#on-sale .price-tag span {
  vertical-align: super;
  font-size: 1rem;
  font-weight: bold;
}

#on-sale .price-text {
  font-size: 0.8rem;
  color: #7e8388;
}

.price p,
#demos p {
  font-size: 0.8rem;
  font-weight: bold;
  color: #7e8388;
}

#demos > a > i {
  font-size: 2rem;
}

#on-sale .price {
  color: #65bc7b;
  font-weight: bold;
}

nav > ul {
  list-style: none;
}

nav > ul > li {
  font-size: 0.8rem;
  color: var(--bk-dark-violet);
  font-weight: 600;
  letter-spacing: 2px;
  margin-right: 40px;
  border-bottom: 2px solid transparent;
}

nav ul a {
  line-height: 30px;
}

nav > ul > li:hover {
  border-bottom: 2px solid var(--bk-dark-violet);
}

/* HERO SECTION  */

#hero .intro {
  margin-left: 100px;
}

#hero .intro h1 {
  text-transform: capitalize;
  font-weight: bold;
}

small {
  text-transform: uppercase;
  color: var(--bk-text);
  font-size: 0.7rem;
  letter-spacing: 2px;
  font-weight: 600;
}

#hero .intro p {
  color: var(--bk-text);
  font-size: 1.1rem;
}

/* OUR PRODUCTS  */

#our-products {
  margin-top: 100px;
}

.call-to-action {
  align-self: flex-start;
}

.product-carousel {
  position: relative;
}

.product-hover {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.product-carousel:hover .product-hover {
  display: block;
}

.product-hover small {
  font-size: 0.7rem;
  color: white;
}

.arrow {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 40px;
  display: flex;
  height: 80px;
  color: white;
  background-color: #a691b2;
  cursor: pointer;
}

.arrow:hover {
  background-color: var(--bk-dark-violet);
}

.left-arrow {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.right-arrow {
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
}

/* SPECIAL MOMENTS SECTION  */

.special-moments-images {
  position: relative;
}

.special-moments-images:hover .product-hover {
  display: block;
}

.special-moments-images:hover .image-front-1,
.special-moments-images:hover .image-front-2 {
  display: none;
}

.special-moments-images:hover .image-back-1,
.special-moments-images:hover .image-back-2 {
  display: block;
}

.image-back-1,
.image-back-2 {
  display: none;
}

#special-moments .product-hover {
  font-size: 2.5rem;
}

/* FIND PRODUCTS  */

#find-products h3 {
  margin-top: 20px;
}

#find-products .call-to-action {
  align-self: center;
  width: 90%;
}

#find-products .call-to-action p {
  line-height: 2rem;
  font-size: 1rem;
  color: #7e8388;
}

/* SHOWCASE SECTIONS  */
/* SHOWCASE SECTION 01  */

#showcase-01 {
  color: white;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.showcase-ingredients {
  background-image: url("../img/bakery-process-1.jpg");
  opacity: 0.7;
}
